<section class="post-comments">
  
<!--GitTalk-->
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<!--<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">-->

<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<!--<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>-->

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '9122fb8a3b36c1d53f33',
        clientSecret: '56cf25fad7aa8b419fc956853c52fb1229e78a0e',
        repo: 'blog-talk',
        owner: 'evil-binary',
        admin: ['evil-binary'],
        id: location.pathname,
//        id: md5(location.pathname),
        distractionFreeMode: true
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->

  <!--
  {% if site.comment.uyan %}
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid={{ site.comment.uyan }}"></script>

  {% elsif site.comment.disqus %}
    <div id="disqus_thread"></div>
    <script>
    
    var disqus_config = function () {
        this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
        this.page.identifier = "{{ page.url }}";
    };
    var disqus_shortname = '{{ site.comment.disqus }}';
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>要查看<a href="http://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>
    
  {% endif %}
  -->

</section>
