<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">        
      <div class="nav_container">
         <nav class="nav-menu-item" style = "float:right">
            <i class="nav-menu-item">
              <a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">  {{site.blog_button.title}}
              </a>
            </i>
            {% for item in site.nav %}
                <i class="nav-menu-item">

                  <a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">
                      {{item.title}}
                  </a>
                </i>
            {% endfor %}
          </nav>
      </div>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}

    <!--
    <script src="/lib/L2Dwidget.min.js?0c58a1486de42ac6cc1c59c7d98ae887"></script>
    <script>
    L2Dwidget.init({"pluginRootPath":"/assets/live2d","pluginJsPath":"/lib","pluginModelPath":"/assets/live2d","tagMode":false,"debug":false,"model":{"jsonPath":"/assets/live2d/nito.model.json"},"display":{"position":"right","width":150,"height":300},"mobile":{"show":true},"log":false});
    </script>
  -->
  <script src="/assets/waifu/autoload.js" type="text/javascript"></script>

  </body>

</html>
